.team {
  background-color: #f5f4fa;
}

.team-main {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $title;

  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @include for-size(desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.team-point {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-list {
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-background-color;

  @media screen and (max-width: 767px) {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &:nth-child(2n) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 0;
    }
  }

  &:nth-last-child(-n + 2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    flex-wrap: wrap;
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }

  &:nth-child(4n) {
    @include for-size(desktop) {
      margin-right: 0;
    }
  }
}

.team-images {
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
}

.team-surname {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  color: $title;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  margin: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
}

.team-flex {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;

  @include for-size(tablet) {
    padding-left: 74px;
    padding-right: 74px;
  }

  @include for-size(desktop) {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
  }
}

.team-flex-links {
  display: inline-flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: fill $time-hover-focus $time-function,
    background-color $time-hover-focus $time-function;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: $accent;
    transition: background-color $time-hover-focus $time-function;
  }
}

.social-links:hover .network,
.social-links:focus .network {
  fill: $secondary-text-color;

  transition: fill $time-hover-focus $time-function;
}

.network {
  fill: #afb1b8;

  transition: fill $time-hover-focus $time-function;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
