.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;

  min-width: 200px;

  border: 1px solid transparent;

  color: $secondary-text-color;
  background-color: $accent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  // letter-spacing: 0.06em;
}

.menu-button {
  display: inline-block;

  margin: 0;
  padding: 0;
  margin-left: auto;

  border: none;
  background-color: transparent;

  @include for-size(tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $accent;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu-burger {
  display: none;
}
