.menu-mobile {
  //   display: block;
  display: none;
  padding: 60px 0;
  text-align: center;
  outline: 1px solid tomato;

  @include for-size(tablet) {
    display: none;
  }
}

.mobile-nav {
  outline: 1px solid tomato;
}
